/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */

/* Container */

.container{
	max-width: 1600px;
	margin: auto;
}
body{
	background-color: aquamarine;
}
.top{
	height: 750px;
	width: 100%;
	background-image: url("../media/bcg.jpg");
	background-size: cover;
	/* background: linear-gradient(to right,blue,red); */
}
.topHeader{
	display: flex;
	justify-content: space-around;
	padding: 50px 0;
	word-spacing: 20px;
}
.topHeader h3{
	color: white;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topHeader a{
	text-decoration: none;
	color: white;
}
.signin{
	display: inline-block;
	width: 110px;
	height: 40px;
	background-color: red;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
}
.content{
	display: flex;
	padding: 100px 350px;
	justify-content: space-between;
	color: white;
}
.content div{
	width: 480px;
	height: 315px;
}
.content h2{
	font-size: 36px;
	width: 350px;
	margin: 40px 0;
}
.call a{
	display: inline-block;
	width: 130px;
	height: 40px;
	line-height: 40px;
	color: white;
	border: 1px solid white;
	text-decoration: none;
	text-align: center;
	border-radius: 20px;
	margin-right: 30px;
}
.call span{
	display: inline-block;
	width: 150px;
	vertical-align: middle;
	font-size: 12px;
}
.intro{
	background-color: white;
	height: 375px;
	display: flex;
	padding: 0 180px;
	padding-top: 100px;
}
.box1{
	width: 33%;
	margin-right: 80px;

}
.box1 h2{
	font-size: 28px;
}
.box1 p{
	margin: 30px 0;
}
.box1 span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: darkgrey;
	margin-right: 5px;
}
.box2{
	width: 28%;
	margin-right: 20px;
	padding-top: 20px;
	font-weight: 700;
}
.box2 h4{
	display: flex;
	justify-content: space-between;
}
#one{
	width: 85%;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 25px;
}
#two{
	width: 90%;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 25px;
}
#three{
	width: 75%;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 25px;
}
#four{
	width: 70%;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 25px;
}
.box3{
	width: 25%;
	height: 100%;
}
.box3 img{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}

/* Our blog */

.blog{
	background-color: azure;
	/* height: 700px; */
	word-spacing: 5px;
	padding-bottom: 50px;
}
.blog h2{
	font-size: 28px;
	text-align: center;
	padding-top: 50px;
}
#blog span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: rgb(122, 163, 163);
	margin-right: 5px;
}
#blog{
	text-align: center;
}
.boxContent{
	display: flex;
	width: 600px;
	height: 350px;
	/* margin: 0 180px; */
	background-color: rgb(233, 231, 227);
	margin-top: 40px;
}
.boxContent img{
	width: 250px;
	height: 350px;
}
.right{
	padding: 50px 20px;
}
.right h2{
	font-size: 20px;
	text-align: left;
	margin-bottom: 20px;

}
.right p{
	font-size: 14px;
	margin-bottom: 25px;
}
.right a{
	display: inline-block;
	width: 150px;
	height: 50px;
	background-color: bisque;
	line-height: 50px;
	text-decoration: none;
	color: black;
	text-align: center;
	border-radius: 20px;
}
.largebox{
	display: flex;
	flex-wrap: wrap;
	margin: 0 180px;
	justify-content: space-between;
}

/* Our Work */

.work{
	
	background-color: white;
}
.work h2{
	font-size: 28px;
	text-align: center;
	padding-top: 50px;
}
.parent img{
	width: 100%;
	height: 300px;
}
.parent div{
	width: 22%;
	margin-top: 30px;
	margin-bottom: 80px;
}
.parent{
	display: flex;
	padding: 0 180px;
	justify-content: space-between;
}

/* Contact */

.contact{
	background: linear-gradient(to right,blue,green);
}
.contact h2{
	font-size: 28px;
	text-align: center;
	padding-top: 50px;	
}
.map{
	display: flex;
	padding: 100px 180px;
	justify-content: space-between;
}
.map div{
	width: 45%;
}
.entry span{
	display: inline-block;
	width: 45%;
	height: 50px;
	background-color: white;
	margin-bottom: 20px;
	margin-right: 20px;
	line-height: 50px;
}
.req{
	margin-top: 20px;
	background-color: white;
	width: 94%;
	height: 100px;
	margin-bottom: 10px;
}

/* Footer */

.footer{
	background-color: black;
	padding: 100px 0;
}
.papa {
	display: flex;
	justify-content: space-between;
}
.o{
	width: 25%;
	margin-left: 180px;
}
.t{
	width: 18%;
}
.papa h2{
	color: white;
	font-size: 28px;
	margin-bottom: 30px;
}
.papa p{
	color: white;
}
.papa a{
	text-decoration: none;
	color: white;
}
.belowhr{
	color: white;
	margin-top: 20px;
}
.belowhr a{
	text-decoration: none;
	color: white;
	word-spacing: 20px;
}
.middle{
	display: inline-block;
	margin-left: 400px;
	margin-right: 100px;
}
.footer hr{
	width: 78%;
}
.e{
	margin-right: 180px;
}
.s{
	margin-left: 180px;
}